/* Variables CSS */
:root {
    --primary-color: #ffd700;
    --secondary-color: #1c1c1c;
    --background-color: #121212;
    --text-color: #cfcfcf;
    --white-color: #fff;
}

/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

a{
    text-decoration: none;
}

/* Estilo del cuerpo */
body {
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    color: #1a1a1a;
}

/* Navegación */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    z-index: 1000;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    box-shadow: 0 9px 8px rgba(0, 0, 0, 0.4);
}

.navbar .navbar-brand img {
    width: 50px;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.collapse ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-item a {
    color: var(--white-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.nav-item a.active,
.nav-item a:hover {
    color: var(--primary-color) !important;
}


/* Texto de fondo para secciones */
.about-background-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.1);
    z-index: 0;
    white-space: nowrap;
}

.sect h2{
    margin-top: -23px;
}

/* Sección Home */
#home {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../img/image-background.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
}

#home h1, #home p, #home .links {
    position: relative;
    z-index: 2;
    color: var(--white-color);
}

.home-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    white-space: wrap;
    color: var(--white-color) !important;
}

.home-content h1 span {
    color: #ffd700;
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

#home p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto 30px;
    transform: translateY(20px);
    color: var(--white-color);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
    margin-bottom: 1rem;
    padding: 0;
    opacity: 0;
}

.links li {
    background-color: #1a1a1a;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: var(--white-color);
    font-size: 24px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.links li a:hover {
    background-color: #031633;
    transform: scale(1.1);
    border-radius: 50%;
}

.fade-in.active #home p,
.fade-in.active .links {
    opacity: 1;
    transform: translateY(0);
}

/* Sección About */
#about {
    padding: 100px 20px;
    background-color: rgba(26, 26, 26, 0.9);
    text-align: center;
    border-radius: 80px 80px 0 0;
    box-shadow: 0 9px 8px rgba(0, 0, 0, 0.4);
    margin-top: -80px;
    backdrop-filter: blur(100px);
}

#about h2 {
    font-size: 36px;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 50px;
}

.about-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    align-items: center;
}

.profile-picture {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #031633;
    border-radius: 35px 35px 0 0;
    border: 1px solid #031640;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.profile-picture img {
    max-width: 400px;
    height: auto;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 0;
}

.profile-picture::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1.5));
    pointer-events: none;
    z-index: 1;
}

.details {
    color: var(--text-color);
    text-align: justify;
    opacity: 0;
}

.details p {
    margin-bottom: 10px;
    font-size: 16px;
}

.details .highlight {
    color: var(--primary-color);
}

.details .btn-cv {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #121212;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 20px;
}

/* Animaciones para la sección About */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.about-container .profile-picture,
.about-container .details {
    opacity: 0;
}

.about-container.active .profile-picture {
    animation: slideInLeft 1s ease-out forwards;
}

.about-container.active .details {
    animation: slideInRight 1s ease-out forwards;
}

/* Sección Services */
#services {
    padding: 100px 20px;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#services h2 {
    font-size: 36px;
    font-weight: 600;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 50px;
}

.service-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
}

.service-box {
    background-color: var(--secondary-color);
    padding: 30px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.service-box:hover {
    transform: translateY(-10px);
}

.service-box i {
    font-size: 48px;
    color: #333;
    margin-bottom: 15px;
}

.service-box h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.service-box p {
    font-size: 16px;
    color: var(--text-color);
}

/* Sección Projects */
#projects {
    padding: 100px 20px;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#projects h2 {
    font-size: 36px;
    font-weight: 600;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 50px;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
    justify-content: center;
}

.project-box {
    background-color: var(--background-color);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    overflow: hidden;
}

.project-box:hover {
    transform: translateY(-10px);
}

.project-box i {
    font-size: 48px;
    color: #333;
    margin-bottom: 15px;
}

.project-box h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.project-box p {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.project-box a.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: #121212;
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;
}

.project-box a.btn-primary:hover {
    background-color: #e5b700;
}

.project-box .btn-link {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    margin-left: .5rem;
    color: var(--white-color);
    border-bottom: 1px solid var(--primary-color);
}

.project-box .btn-link:hover {
    color: #6c757d;
}

/* Botones de proyectos */
.more-projects {
    text-align: center;
    margin-top: 40px;
}

.more-projects a.btn-secondary {
    background-color: #333;
    color: var(--white-color);
    border: none;
    border-radius: 20px;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.more-projects a.btn-secondary:hover {
    background-color: #555;
}

/* Sección Skills */
#skills {
    padding: 100px 20px;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#skills h2 {
    font-size: 36px;
    font-weight: 600;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 50px;
}

.skills-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.skills-category {
    text-align: center;
}

.skills-category h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.skill:hover {
    transform: translateY(-10px);
}

.skill .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.skill:hover .icon {
    transform: scale(1.1);
}

.skill span {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--white-color);
}

.progress {
    width: 100%;
    max-width: 400px;
    height: 17px;
    background-color: #6C757D;
    border-radius: 50px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5); /* Sombra interna para profundidad */
    overflow: hidden;
    margin-top: 10px; /* Espacio entre la barra y el texto */
    position: relative;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(to right, #fffec3, var(--primary-color));
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(232, 223, 38, 0.6);
    transition: width 1s ease-in-out;
}

/* Media Queries */
@media (min-width: 768px) {
    .about-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .service-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #home {
        padding: 15px;
    }

    #home h1 {
        font-size: 2rem;
    }

    #home p {
        font-size: 1rem;
        max-width: 90%;
    }

    .links {
        gap: 20px;
    }

    .links li a {
        font-size: 20px;
        padding: 8px;
    }
}

/* Móviles y dispositivos con pantallas pequeñas */
@media (max-width: 480px) {
    #home {
        padding: 10px;
    }

    #home h1 {
        font-size: 1.5rem;
    }

    #home p {
        font-size: 0.9rem;
        max-width: 100%;
    }

    .links {
        gap: 10px;
        height: 50px;
    }
}

@media (min-width: 992px) {
    .service-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .projects-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
